# This is a basic workflow to help you get started with Actions

name: CI

    

# Controls when the action will run. 
on: [pull_request]
  # Triggers the workflow on push or pull request events but only for the main branch
  

  # Allows you to run this workflow manually from the Actions tab


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup zowe cli
        run: sudo npm i -g @zowe/cli@latest --@zowe:registry=https://registry.npmjs.org --no-package-lock --force --ignore-scripts
      - name: run npm install
        run: npm install 
      - name: create zowe profile
        run: zowe profiles create ssh-profile ssh-profile --host "${{secrets.ZOWE_HOST}}" --port 22 --user "${{secrets.ZOWE_USERID}}" --password "${{secrets.ZOWE_PASSWORD}}"
      - name: Run zowe cli command
        run: zowe zos-uss issue ssh '/usr/lpp/IBM/dbb/bin/groovyz /u/RGOPALK/zappbuild/origbuild.groovy --workspace /u/RGOPALK/zappbuild --application sampleapp --outDir /u/RGOPALK/zappbuild/out --hlq RGOPALK.RAG --fullBuild'--ssh-profile ssh-profile 
      
      
    
            
      
