# This is a basic workflow to help you get started with Actions

name: CI

    

# Controls when the action will run. 
on: [pull_request]
  # Triggers the workflow on push or pull request events but only for the main branch
  

  # Allows you to run this workflow manually from the Actions tab


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: pip install paramiko
     # - name: Run Build
     #   run: python build.py ${{secrets.ZOWE_HOST}} ${{secrets.ZOWE_PORT}} ${{secrets.ZOWE_USERID}} ${{secrets.ZOWE_PASSWORD}}
      - name: Run Decryption
        run: gpg --quiet --batch --yes --decrypt --passphrase="$LARGE_SECRET" --output $HOME/secrets/a_password_file.txt a_password_file.txt.gpg
        env:
         LARGE_SECRET: ${{ secrets.LARGE_SECRET }}
      - name: Check Ansible version
        run: ansible-playbook hello-world.yml -i mfs.yml --vault-password-file $HOME/secrets/a_password_file.txt
    
            
      
